.item {
  width: 400px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 20px;
  background: var(--color-white);
  animation: fadeIn 0.3s ease-out;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-out;
  &:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.item {
  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .title {
        color: var(--text-hero-title);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .dateContainer {
        margin-top: -4px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--text-date);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
    }
    .description {
      color: var(--text-body);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      white-space: pre-wrap;
    }

    .link {
      width: 100%;
      text-align: right;

      a {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: 100%;
    margin: 0 16px;
  }
}
