.container {
  display: flex;
  height: calc(100vh - 64px); /* ヘッダーの高さを引いている */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 背景色 */
  background: linear-gradient(
    180deg,
    var(--color-grad-1) 0.57%,
    var(--color-grad-2) 99.43%
  );
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px; /* TODO ここ後からどうにかする */
  gap: 32px;
  text-align: center;
  z-index: 1;
}

.icon {
  width: 190px;
  height: 190px;
  border-radius: 999px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  color: var(--hero-title);
}

.description {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.arrow {
  position: absolute;
  bottom: 50px;
  z-index: 1;
}

.area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.circles li {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: var(--hero-circle);
  animation: animate 25s linear infinite;
  bottom: -150px;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 20px;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
