.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  .tabContainer {
    display: flex;
    gap: 64px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    gap: 16px;

    .tabContainer {
      gap: 32px;
    }
  }
}
