:root {
  /* テキスト */
  --text-title: #2563eb;
  --text-body: #374151;
  --text-sub: #4b5563;
  --text-date: #9ca3af;
  --text-hero-title: #1f2937;
  --link: #2563eb;
  --link-hover: #1d4ed8;

  /* ボタン */
  --button-bg: #3b82f6;
  --button-bg-hover: #2563eb;

  /* タブ */
  --tab-bg-1: #3b82f6;
  --tab-bg-2: #e0f2fe;
  --tab-bg-hover: #bfdbfe;
  --tab-text: #3b82f6;

  /* 色 */
  --color-bg: #f0f9ff;
  --color-yellow: #fbbf24;
  --color-green: #25eb25;
  --color-grad-1: #fff;
  --color-grad-2: #f0f9ff;
  --color-white: #fff;
  --color-footer-bg: #1f2937;

  /* ボーダー */
  --border-color: #ccc;

  /* hero circle */
  --hero-circle: #b8e3ffbe;
}
