.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  align-self: stretch;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 16px;
  }
}
